*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.hero{
  height:100vh;
  background:url("https://images.unsplash.com/photo-1494790108377-be9c29b29330?w=1200")
  center/cover no-repeat;
  position:relative;
}

.navbar{
  background:white;
  padding:15px;
}

.navbar ul{
  display:flex;
  justify-content:center;
  gap:40px;
  list-style:none;
}

.content{
  position:absolute;
  top:100px;
  left:40px;
}

.content h1{
  font-size:90px;
  font-family:Georgia, serif;
}

.content h2{
  margin-top:20px;
  font-size:40px;
}

.social-icons{
  margin-top:20px;
}

.social-icons a{
  font-size:35px;
  margin-right:15px;
  text-decoration:none;
  display:inline-block;
  transition:.3s;
}

.social-icons a:hover{
  transform:scale(1.3) rotate(10deg);
}

.arrow{
  position:absolute;
  bottom:30px;
  left:50%;
  transform:translateX(-50%);
  color:white;
  font-size:50px;
  animation:bounce 1.5s infinite;
}

@keyframes bounce{
  0%,100%{
    transform:translateX(-50%) translateY(0);
  }
  50%{
    transform:translateX(-50%) translateY(10px);
  }
}
